@model IEnumerable<Image>
@{
    ViewData["Title"] = "Index";
}

<h1>Create</h1>
<h4>Image</h4>

<p>
    <a class="btn btn-warning" asp-action="Create">Create</a>
</p>

<div class="container mb-3">
    <table class="table table-striped table-border mydatatable" style="width: 100%;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ImageId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ImageId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ImageId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>